<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xymiao.mybatis3.mapper.TUserMapper">
	<!--  
	<select id="selectUser"
		resultType="com.xymiao.mybatis3.pojo.TUser">
		select t_user.*, 'test' test from t_user where uid = #{uid}
	</select>
	-->
	<select id="selectUser"
		resultType="com.xymiao.mybatis3.pojo.TUser">
		select t_user.*  from t_user where uid = #{uid}
	</select>
	
	<select id="selectUserByLoginid" resultType="hashmap">
		select * from t_user where loginid = #{loginid}
	</select>
</mapper>